mixin footer()
	footer.no_select
		.wrapper
			.container
				small &copy;2018 Bennett Feely (<a href="https://twitter.com/bennettfeely">@bennettfeely</a>)
	script(src="/_js/tinysort.min.js")
	script(src="/_js/clipboard.min.js")
	script(src="/_js/store2.min.js")
	script(src="/_js/script.js")