mixin header(title, class_name)
	doctype html
	!= '<html lang="en" class="' + class_name + '">'
		head
			meta(charset='utf-8')
			meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
			title= title
			meta(name="description", content="Quick, unformatted copy and paste-able lists for all your needs.")
			link(rel="apple-touch-icon", sizes="180x180", href="/_img/apple-touch-icon.png")
			link(rel="icon", type="image/png", sizes="32x32", href="/_img/favicon-32x32.png")
			link(rel="icon", type="image/png", sizes="16x16", href="/_img/favicon-16x16.png")
			link(rel="mask-icon", href="/_img/safari-pinned-tab.svg", color="#5bbad5")
			meta(name="msapplication-TileColor", content="#ffffff")
			meta(name="theme-color", content="#ffffff")
			meta(name="application-name", content="Plain Text List")
			meta(name="rating", content="General")
			meta(name="google", content="notranslate")
			meta(name="robots", content="index,follow")
			meta(name="googlebot", content="index,follow")
			meta(name="google-site-verification", content="RiDombm-xWEP2YGUVF0xJewvmHK6ouROw3yA8ItmdUw")
			meta(name="renderer", content="webkit")
			meta(name="apple-mobile-web-app-title", content="Plain Text List")
			link(rel='stylesheet', href='/_css/style.css')
		!= "<body>"
			header.no_select.no_print(role="banner")
				.wrapper
					.container
						h1
							a(href="/")= "Plain Text List"
							small.submit_button
								a(href="/submit")= "Submit a list"