include _header
include _breadcrumb
include _ad
include _footer

+header("Plain Text Lists of " + capitalize(category.title) + " topics", "category")

+breadcrumb(category.title)

section
	.wrapper.split
		.split_container.main
			h2(class=category.title)= capitalize(category.title)
			ul.index_list
				for list in category.list_data
					li
						a(href=list.folder)= list.title
						span.length= ' (' + list.length + ')'
		.split_container.side
			+ad()

+footer()