# include _header
include _breadcrumb
include _ad
include _footer

# +header('Plain Text Lists on ' + capitalize(category.title), "category")

+breadcrumb(category.title)

section
	.wrapper.split
		.split_container.main
			h1(class=category.title)= capitalize(category.title)
			ul.index_list
				for list in category.list_data
					li
						a(href='/' + category.title + '/' + list.folder)= list.title
						span.length= ' (' + list.length + ')'
		.split_container.side
			+ad()

+footer()