include _header
include _breadcrumb
include _footer

+header("Sumbit a list", "submit")

section
	.wrapper
		.container
			h1 Contribute a list
			h3 Please make sure your list...
			ul
				li Is backed by a reputable source
				li Is objective and definitive
					ul.bad
						li Bad: <i>List of coolest restaurants in London</i>
						li Bad: <i>List of the worst movies</i>
				li Is finite
					ul.bad
						li Bad: <i>List of colors</i>
						li Bad: <i>List of stars</i>
				li Is appropriate for all ages
				li Isn't spam or a scam
			h3 I will review every submission and let you know if your list has been approved and published. Thank you!
			form(action="/success", name="submission", autocomplete="off", netlify)
				.box
					label
						.meta_label List title 
						small.meta_value e.g. List of Countries, List of Prime Ministers of Canada
						input(type="text", name="title", autocomplete="off", required)
				.box
					label
						.meta_label List source name
						small.meta_value e.g. NASA, Georgia State University
						input(type="text", name="source_name", autocomplete="off", required)
				.box
					label
						.meta_label List source url
						small.meta_value Preferably HTTPS
						input(type="url", name="source_url", placeholder="https://...", required)
				.box
					.meta_label List data
					small.meta_value Insert a new line for each data item. Do not include line numbers, bullet points, or any other formatting.
					textarea.list(rows="15", name="content", required)
				.box
					label
						.meta_label Your email
						small.meta_value Optional. I will let you know if your list has been accepted and published.
						input(type="email", name="email")
				.box
					div(data-netlify-recaptcha)
					button(type="submit") 
						span Submit list

+footer()