include _header
include _breadcrumb
include _footer

+header("Sumbmission successful", "success")

section
	.wrapper
		.container
			h1 Thank you!
			p Your list has been sent and will be reviewed.

+footer()